@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clean-select{
  height: 52px !important;
    padding: 10px 15px;
    font-size: 15px;
}

/* Custom color */
.my-popconfirm {
  background-color: #f0f0f0;
  color: #333;
}

.my-popconfirm .ant-popover-content {
  background-color: #f0f0f0;
  color: #333;
}

.my-popconfirm .ant-popover-message-title {
  color: #333;
}

.my-popconfirm .ant-popover-buttons button {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
}


